@use '../styles/mixins' as *;

.page {
  display: flex;
  gap: 5.3125rem;
  padding: 0 16.125rem;
  margin-top: 5.9375rem;
  margin-bottom: 7.625rem;

  &__sidebar {
    display: flex;
    flex-direction: column;
    gap: 5.875rem;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__cardWrap {
    margin-bottom: 1.8125rem;
  }

  &__cardWrapLast {
    margin-bottom: 6.375rem;
  }

  &__next {
    display: flex;
    justify-content: flex-end;
  }
}

@include respond-to(laptop) {
  .page {
    gap: 3rem;
    padding: 0 2rem;
  }
}

@include respond-to(tablet) {
  .page {
    flex-direction: column;
    gap: 2rem;
    padding: 0 1.5rem;
  }
}

@include respond-to(mobile) {
  .page {
    gap: 1.5rem;
    padding: 0 1rem;
    margin-top: 2rem;
  }

  .page__sidebar {
    gap: 3rem;
  }

  .page__cardWrap {
    margin-bottom: 1.5rem;
  }

  .page__cardWrapLast {
    margin-bottom: 3rem;
  }
}